<configuration debug="true">
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoders are assigned the type ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <encoder>
            <pattern>%date{dd-MMM-yyyy HH:mm:ss.SSS} [%X{_X_MOA_MSISDN_}] [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

<!--    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">-->
<!--        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">-->
<!--&lt;!&ndash;            <jsonGeneratorDecorator class="net.logstash.logback.mask.MaskingJsonGeneratorDecorator">&ndash;&gt;-->
<!--&lt;!&ndash;                <defaultMask>****</defaultMask>&ndash;&gt;-->
<!--&lt;!&ndash;                <value>([\w.-]+@[\w.-]+\.\w+)</value>&ndash;&gt;-->
<!--&lt;!&ndash;                <pathMask>&ndash;&gt;-->
<!--&lt;!&ndash;                    <paths>firstName,lastName,creditCardToken,phone,dateOfBirth,dateOfBirthX8,contactAddress,indentValue,userName,formattedAddressX9,cardNumberX8,newFormattedAddressX9,contactPhone</paths>&ndash;&gt;-->
<!--&lt;!&ndash;                </pathMask>&ndash;&gt;-->
<!--&lt;!&ndash;            </jsonGeneratorDecorator>&ndash;&gt;-->
<!--            <providers>-->
<!--                <timestamp>-->
<!--                    <fieldName>@timestamp</fieldName>-->
<!--                    <timeZone>UTC</timeZone>-->
<!--                </timestamp>-->
<!--                <logLevel>-->
<!--                    <fieldName>log.level</fieldName>-->
<!--                </logLevel>-->
<!--                <threadName>-->
<!--                    <fieldName>log.thread.name</fieldName>-->
<!--                </threadName>-->
<!--                <contextName>-->
<!--                    <fieldName>service.name</fieldName>-->
<!--                </contextName>-->
<!--                <pattern>-->
<!--                    <pattern>-->
<!--                        {-->
<!--                        "cloud.account.id": "${ACCOUNT_ID}",-->
<!--                        "cloud.account.name": "${ACCOUNT_NAME}",-->
<!--                        "cloud.availability_zone": "${AVAILABILITY_ZONE}",-->
<!--                        "container.image.name": "${CONTAINER_IMAGE}",-->
<!--                        "cloud.instance.id": "${HOST_INSTANCE_ID}",-->
<!--                        "container.name": "${CONTAINER_NAME}",-->
<!--                        "cloud.provider": "${CLOUD_PROVIDER}",-->
<!--                        "cloud.region": "${REGION}",-->
<!--                        "container.started": "${STARTED_AT}",-->
<!--                        "host.name": "${HOST_NAME}",-->
<!--                        "host.ip": "${HOST_IP_ADDRESS}",-->
<!--                        "labels.ecs.task-arn": "${TASK_ARN}",-->
<!--                        "labels.env": "${MICRO_SERVICE_ACTIVE_PROFILE}",-->
<!--                        "labels.app": "${MICRO_SERVICE}"-->
<!--                        }-->
<!--                    </pattern>-->
<!--                </pattern>-->
<!--                <mdc/>-->
<!--                <arguments>-->
<!--                    <includeNonStructuredArguments>false</includeNonStructuredArguments>-->
<!--                </arguments>-->
<!--                <loggerName>-->
<!--                    <fieldName>log.logger</fieldName>-->
<!--                </loggerName>-->
<!--                <message>-->
<!--                    <fieldName>message</fieldName>-->
<!--                </message>-->
<!--                <throwableClassName>-->
<!--                    <fieldName>error.type</fieldName>-->
<!--                </throwableClassName>-->
<!--                <stackTrace>-->
<!--                    <fieldName>error.stack_trace</fieldName>-->
<!--                    &lt;!&ndash; maxLength - limit the length of the stack trace &ndash;&gt;-->
<!--                    <throwableConverter class="net.logstash.logback.stacktrace.ShortenedThrowableConverter">-->
<!--                        <maxDepthPerThrowable>200</maxDepthPerThrowable>-->
<!--                        <maxLength>5000</maxLength>-->
<!--                        <rootCauseFirst>true</rootCauseFirst>-->
<!--                    </throwableConverter>-->
<!--                </stackTrace>-->
<!--            </providers>-->
<!--        </encoder>-->
<!--    </appender>-->



    <logger name="org.springframework" level="DEBUG" />
    <logger name="org.springframework.cloud.config.server" level="TRACE" />
    <logger name="com.google.code" level="INFO" />
    <logger name="net.rubyeye" level="INFO" />

    <!-- for Apache http client -->
    <logger name="httpclient.wire" />

    <logger name="org.apache.http" />

    <!-- AWS SDK logging -->
    <logger name="software.amazon.awssdk" level="DEBUG" />
    <logger name="software.amazon.awssdk.services.s3" level="DEBUG" />
    <logger name="software.amazon.awssdk.request" level="DEBUG" />
    <root level="DEBUG">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>
